<app-navbar></app-navbar>
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">¡Únete a la mejor Red de Internet Residencial!
              </h1>
              <span class="text-white">¡¡Entretenimiento ilimitado a otro nivel!!</span>

              <p class="lead  text-white">Únete a la mejor red de Internet Residencial, con planes desde Q225 y lo mejor
                de todo SIN CONTRATO.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">NUESTROS PLANES</h2>
          <p class="lead text-white">Inicia sesión para conocer los precios</p>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <carousel 
            [cellsToShow]="3" 
            [height]="290"  
            [width]="1000"
            [objectFit]="'cover'"
            [autoplay]="true"
            [dots]="true"
            [loop]="true"
            >

              <div class="carousel-cell" *ngFor="let produ of product">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-planet"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">{{produ.nombre}}</h6>
                    <p class="description mt-3">{{produ.descripcion}}</p>
                    <div class="row text-center justify-content-center">
                      <div *ngIf="produ.precio" class="btn btn-warning mt-4" style="cursor: auto;">Q{{produ.precio}}.00
                      </div>
                      <a href="#/login" *ngIf="!produ.precio"  class="btn btn-warning mt-2">
                        Inicia sesión
                        para
                        ver el precio</a>
                    </div>
                  </div>
                </div>
              </div>
            </carousel>

          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/brand/banner1.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">EN NEXYS:</h4>
              <p class="lead text-italic text-white">NOS ENCARGAMOS DE CONECTARTE ILIMITADAMENTE AL MUNDO</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Nuestros clientes</h3>
            <p class="lead">Nos encontramos en el todo el área de Chajul; nuestros clientes nos prefieren por nuestra
              experiencia y las velocidades de internet que ofrecemos desde un plan base hasta un plan completo.</p>
            <div class="icon icon-shape bg-green shadow rounded-circle mb-10 text-white">
              <i class="fa fa-whatsapp"></i>
            </div>
            <a href="https://api.whatsapp.com/send?phone=50251316203" target="_blank"
              class="font-weight-bold text-warning mt-5"> Escribenos</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Lo tenemos todo para ti</h2>
          <p class="lead text-white">Planes de acuerdo a tus necesidades y lo mejor es que la INSTALACION es GRATIS</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
            <i class="ni ni-cloud-download-95 text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Internet más rapido</h5>
          <p class="text-white mt-3">Tenemos un plan para cada tipo de necesidad.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
            <i class="ni ni-pin-3 text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Amplia cobertura</h5>
          <p class="text-white mt-3">Nos encontramos en Chajul pero cada día crecemos más para que te unas a la mejor
            Red de Internet Residencial.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Soporte</h5>
          <p class="text-white mt-3">Tenemos equipo de técnicos especializadospara ayudarte a resolver cualquier tipo de
            problema.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
            <i class="ni ni-chat-round text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Atención personalizada</h5>
          <p class="text-white mt-3">Nos encuentras en las redes sociales listos para atenderte y ayudarte con lo que
            necesitas.</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-default shadow">
            <form [formGroup]="saveForm" (ngSubmit)="save()">

            <div class="card-body p-lg-5">
              <h4 class="mb-1 text-white">¿Deseas más información?</h4>
              <p class="mt-0 text-white">Suscribete para promociones especiales</p>
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input  formControlName="nombre" class="form-control" placeholder="Nombre" type="text" (focus)="focus=true"
                    (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input   formControlName="email" class="form-control" placeholder="Email" type="email" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea  formControlName="text"  class="form-control form-control-alternative" name="name" rows="4" cols="80"
                  placeholder="Escribe algo"></textarea>
              </div>
              <div>
                <span class="text-white">{{message}}</span>
              </div>
              <div>
                <button type="submit" [disabled]="saveForm.invalid" class="btn btn-primary btn-round btn-block btn-lg">Enviar</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>